.shape{
    background: linear-gradient(216.56deg,#E250E5 5.32%,#4B50E6 94.32%);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
  }
  .item-shape-1{
    top: 73.3%;
    left: 35.6%;
    width:22px;
    height:22px;
    animation: move4 10s infinite linear;
  }
  .item-shape-2{
    top: 29.8%;
    right: 37%;
    width:16px;
    height:16px;
    animation: move3 10s infinite linear;
  }
  .item-shape-3{
    top: 68.7%;
    right: 19.1%;
    width:32px;
    height:32px;
    animation: move3 10s infinite linear;
  }
  .item-shape-4{
    top: 64.8%;
    right: 39.7%;
    width:48px;
    height:48px;
    animation: move4 10s infinite linear;
  }
  .item-shape-5{
    top: 17.4%;
    right: 16.8%;
    width:51px;
    height:51px;
    animation: move3 10s infinite linear;
  }
  .item-shape-5.position2{
    top: 33.8%;
    right: 53.8%;
    width:51px;
    height:51px;
    animation: move3 10s infinite linear;
  }
  .item-shape-6{
    top: 33.9%;
    right: 13.8%;
    width:68px;
    height:68px;
    animation: move4 10s infinite linear;
  }
  @keyframes move4{
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    50% {
      -webkit-transform: translate(-30px);
      transform: translate(-30px);
    }
    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
  @keyframes move3{
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    50% {
      -webkit-transform: translate(30px);
      transform: translate(30px);
    }
    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }