section .card-collection {
    padding: 20px;
    background: var(--bg-section);
    box-shadow: 0 3px 16px rgb(47 83 109 / 12%);
    border-radius: 10px;
    overflow: hidden;
    border: var(--bg-section);
    margin-bottom: 30px;
    margin: 15px;
}

section .card-collection .card-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.box-style {
    display: inline-block;
    width: unset;
    border-radius: unset;
    text-align: center;
    box-shadow: unset;
    margin-bottom: 0;
    background: 0 0;
}

section .card-collection .card-bottom .heart-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding: 1px 11px;
    border-radius: 8px;
    background-color: #14141f;
    cursor: pointer;
    flex-shrink: 0;
    border: none;
}

section .card-collection .card-bottom .heart-button i {
    font-weight: 300;
    margin-right: 3px;
}

section .card-collection .card-bottom .heart-button span{
    width: 22px;
    display: inline-block;
}

section .card-collection .card-bottom .author {
    display: flex;
    text-align: start;
}

section .card-collection .card-bottom .box-style {
    position: relative;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 1px;
    flex-shrink: 0;
}

section .card-collection .card-bottom .box-style .author-avatar {
    position: relative;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 1px;
    flex-shrink: 0;
}

section .card-collection .card-bottom .box-style .author-avatar .avatar{
    border-radius: 21px;
    width: 64px;
    height: 64px;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
}

section .card-collection .card-bottom .box-style .author-avatar .badge{
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.box-style .author-avatar .badge{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary-color3);
    padding: 0;
}

.badge {
    font-size: 75%;
    font-weight: 700;
    color: var(--bg-section);
    white-space: nowrap;
    vertical-align: baseline;
}

section .card-collection .card-bottom .author .content h4{
    margin-bottom: 4px;
    margin-top: 10px;
}

section .card-collection .card-bottom .author .infor span{
    letter-spacing: -.5px;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color4);
}

section .card-collection .card-bottom .author .infor .name a{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #ebebeb;
    margin-left: 3px;
}

section .card-collection .media-images-collection {
    margin-top: 17px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

section .card-collection .media-images-collection .box-left {
    margin-right: 10px;
}

section .card-collection .media-images-collection .box-left img {
    height: 272px;
    width: 100%;
}

section .card-collection .media-images-collection img {
    height: 272px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.box-right {
    text-align: right;
}

section .card-collection .media-images-collection .top-img {
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

section .card-collection .media-images-collection .top-img img {
    height: 100px;
    width: 48%;
}

section .card-collection .media-images-collection img {
    border-radius: 10px;
    object-fit: cover;
}

section .card-collection .media-images-collection .bottom-img img {
    width: 100%;
    height: 162px;
}



